{% extends "base.html" %}

{% block content %}
<div class="container text-center mt-5">
  <h1 class="display-4 text-primary">Welcome to Vaagdevi College Lost and Found Portal</h1>
  <p class="lead mt-4">Easily report and find lost items within the campus.</p>
  {% if current_user.is_authenticated %}
    <a href="{{ url_for('routes.view_items') }}" class="btn btn-outline-primary btn-lg mt-4">View Items</a>
  {% else %}
    <a href="{{ url_for('routes.login') }}" class="btn btn-outline-success btn-lg mt-4">Login to Get Started</a>
  {% endif %}
</div>
{% endblock %}
